
{% extends 'base.html' %}


{% block page-content %}

<div class="row">
    <div class="col-sm-6">
    <div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">密码重置</h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">–</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									×
								</a>
							</div>
						</div>
						<div class="panel-body">

							<form role="form" method="POST" id="Passwd_set" enctype="multipart/form-data">
                                {% csrf_token %}
								<div class="form-group">
									<label for="email-1">新密码:</label>
									<input type="password" class="form-control" name="firstpasswd" id="password1">
								</div>

								<div class="form-group">
									<label for="password-1">再次输入:</label>
									<input type="password" class="form-control" name="secondpasswd"  id="password2">
								</div>

								 <div class="form-group">
                                    <button type="button" class="btn btn-white" onclick="back()">返回</button>
                                    <button type="submit" class="btn btn-info" onclick="Passwdset(event)" >修改</button>
                                </div>
							</form>

						</div>
					</div>
        </div>

</div>

<script type="text/javascript">
    function back(){
        history.go(-1);
    };

   function Passwdset(e){
        $("form#Passwd_set").validate({
                rules: {
                    password1: {
                        required: true,
                        minlength: 5,

                    },
                    password2: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password1",
                    },
                },

                messages: {
                    password1: {
                        required: '请输入密码',
                        minlength: "密码长度不能小于 5 个字母",
                    },

                    password2: {
                        required: '请输入密码',
                        minlength: "密码长度不能小于 5 个字母",
                        equalTo: "输入的密码不一致!!!,重新输入",
                    },

                },

                // 修改用户密码
                submitHandler: function(form)
                {

                          e.preventDefault();
                          var serializeData = $('#Passwd_set').serialize();
                          $('#Passwd_set').ajaxSubmit({
                               type:'POST',
                               url: "{% url 'userset_password' uid %}",
                               dataType: 'json',
                               data: serializeData,
                               contentType: false,
                               cache: false,
                               processData:false,
                               success:function(resp){
                                    var msginfo = resp.msginfo;
                                    var msgerror = resp.msgerror;

                                    if (msginfo){
                                        toastr.success(msginfo);
                                        setTimeout(function() {
                                            location.href = '/users/list/1';
                                        },1000);
                                    }
                                    else{
                                        toastr.error(msgerror);
                                    }
                               },
                               error:function(data){
                                   toastr.error("网络异常");;
                               }
                          });
           }

            });
    }
</script>

{% endblock %}

