
{% extends 'base.html' %}

{% block page-content %}

<div class="col-xs-6 col-sm-4 col-md-4">
    <p>
        <a href="{% url 'Assets_server_add' %}">
            <button class="btn btn-info" type="button">服务器添加</button>
        </a>

            <button class="btn btn-primary" type="button" onclick="AllDelete()">批量删除</button>

        <a href="#">
            <button class="btn btn-secondary" type="button">服务器导出</button>
        </a>
    </p>
</div>

<div class="col-xs-12 col-sm-6 col-md-8 ">
    <form method="POST" action="#">
        <div class="col-md-4 col-md-offset-7">
            <input type="text" class="form-control" id="search" placeholder="Search" name="search">
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-info"> 搜索</button
    </form>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">资产列表</h3>

            <div class="panel-options">
                <a href="#" data-toggle="panel">
                    <span class="collapse-icon">&ndash;</span>
                    <span class="expand-icon">+</span>
                </a>
                <a href="#" data-toggle="remove">
                    &times;
                </a>
            </div>
        </div>

        <div class="panel-body">

            <table class="table table-bordered table-striped" id="example-2">
                <thead>
                <tr>
                    <th class="no-sorting">
                        <input type="checkbox" class="cbr">
                    </th>
                    <th>资产名称</th>
                    <th>资产编号</th>
                    <th>服务器编号</th>
                    <th>服务器型号</th>
                    <th>厂商</th>
                    <th>软件列表</th>
                    <th>Raid级别</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody class="middle-align">
                {% for server in Assets_Server_data%}
                <tr>
                    <td>
                        <input type="checkbox" class="cbr" value="{{ server.id}}">
                    </td>
                    <td><a href="#"> {{ server.Assets.Assets_name }}</a></td>
                    <td><a href="#"> {{ server.Assets.device_number }}</a></td>
                    <td>{{ server.sninfo }}</td>
                    <td>{{ server.Firm }}</td>
                    <td>{{ server.model }}</td>
                    <td>{{ server.software }}</td>
                    <td>{{ server.raid }}</td>
                    <td>{{ server.create_time | date:"Y-m-d H:i"}}</td>
                    <td>{{ server.update_time | date:"Y-m-d H:i"}}</td>
                    <td>
                        <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                            修改
                        </a>
                        <a class="btn btn-danger btn-sm btn-icon icon-left" onclick="clickurl('{{server.id}}')">
                            删除
                        </a>
                        <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                            详细
                        </a>
                    </td>
                </tr>
                {% endfor%}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-sm-8">

    {{pages}}
</div>


{% endblock %}